/* Fonts Imports */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins I";
  src: url("/assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins B";
  src: url("/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins BI";
  src: url("/assets/fonts/Poppins-BoldItalic.ttf");
}
@font-face {
  font-family: "Poppins EB";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "Poppins EBI";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 1.5rem 1.5rem 10rem 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}
.form-container {
  display: flex;
  gap: 1.5rem;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins EB";
}
.block label {
  color: rgba(58, 58, 58, 0.504);
  font-size: 12px;
  letter-spacing: 2px;
}
.block input {
  width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
  border: lightgray solid 1px;
  font-size: larger;
  font-family: "Poppins B";
}
.submit-block {
  display: flex;
  align-items: center;
}
.submit-block hr {
  width: 100%;
}
.submit-btn {
  border-radius: 50%;
  padding: 1rem;
  background-color: rgb(127, 55, 243);
  border: none;
}
.submit-btn:hover {
  background-color: black;
}

/* Warning */
small {
  font-family: "Poppins I";
  font-size: 10px;
  color: red;
}

/* Output */
.output h1 {
  font-family: "Poppins EBI";
  font-size: 5rem;
}
.output span {
  color: rgb(127, 55, 243);
  padding-right: 1rem;
}

